/* =========
Colors
========*/
/*
14px-> 0.875rem
16px-> 1rem
18px-> 1.125rem
20px->1.25rem
24px-> 1.5
36px-> 2.25rem
60px-> 3.75re
*/
/* =========
Font Size
========*/
/* =========
Typography
========*/
/* =========
Font Weight
========*/
/**********************/
/*HEADER SECTION/
/**********************/
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 0px 130px;
}

.nav-items {
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.brand-logo {
  width: 42.348px;
  height: 42.348px;
  cursor: pointer;
}

.brand-name {
  color: #44aaec;
}

.navlinks {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navlinks a {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #545454;
  padding: 0 8px;
  margin: 0 8px;
}
.navlinks a.active {
  color: #44aaec;
  border-bottom: solid 2px;
  padding: 0;
}
.navlinks a:hover {
  color: #44aaec;
}

.outlined-btn {
  padding: 4px 16px;
  border: 2px solid #23a999;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}
.outlined-btn:hover {
  background-color: #23a999;
  color: #f1f8fe;
}

.hero-section {
  height: 100vh;
  background-image: url("../assets/heroImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.tagline {
  display: flex;
  flex-direction: row;
  width: 612px;
  height: 140px;
}

.primary-heading {
  color: #f1f8fe;
  font-family: "Raleway", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}

.primary-btn {
  margin-top: 54px;
  padding: 24px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #23a999;
  color: #f1fcf9;
  letter-spacing: 0.7px;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #196c65;
  color: #f1f8fe;
}

/**********************/
/*SERVICEs SECTION/
/**********************/
.services-section {
  padding: 9.6rem 0;
  margin: auto 0;
}

.service-text-box {
  align-content: center;
}

.service-title {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.54px;
  color: #124168;
}

.service-description {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.36px;
  color: #7b7b7b;
}

.service-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img-box::before,
.service-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 8px;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.service-img-box::before,
.service-img-box::after {
  width: 100%;
  padding-bottom: 100%;
  border: 2px solid #44aaec;
  z-index: -1;
}

.service-img-right::before,
.service-img-right::after {
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.service-img {
  width: 42%;
  border-radius: 8px;
}

.service-img img {
  border-radius: 8px;
}

/**********************/
/*INFORMATION SECTION/
/**********************/
.info-section {
  padding: 4rem 8rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 80%;
}
.info-section h2 {
  font-size: 2.25rem;
  letter-spacing: 0.54px;
  color: #124168;
  margin-bottom: 1rem;
}

.info-title {
  text-align: left;
  margin-bottom: 4rem;
}

.info {
  background: #e2f0fc;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top-left-radius: 0.5;
  border-top-right-radius: 0.5;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top-left-radius: 0.5;
  border-top-right-radius: 0.5;
}

.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: #0d5a97;
  color: #f1f8fe;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
}
.tab-btn:hover:not(.active) {
  background: #124168;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: 8px;
}
.tab-btn:nth-child(3) {
  border-top-right-radius: 8px;
}

.info-content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2rem 1.5rem;
}

.content {
  display: none;
}

.tab-btn.active {
  background: #44aaec;
}

.content.active {
  display: block;
}

/**********************/
/*DENTIST SECTION/
/**********************/
.about-section {
  background-color: #f1fcf9;
}
.about-section .dentist-img {
  background-image: url(/assets/dentist.png);
  background-size: cover;
  background-position: center;
}
.about-section .dentist-info {
  display: flex;
  width: 80%;
  padding: 80px 16px;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  align-self: stretch;
  line-height: 2.5;
}
.about-section .dentist-info h2 {
  font-size: 2.25rem;
  letter-spacing: 0.54px;
}
.about-section .dentist-info p {
  font-size: 1.125rem;
  letter-spacing: 0.27px;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #23a999;
  text-decoration: none;
  padding-bottom: 2px;
  transition: all 0.3s;
  font-size: 1.5rem;
}

.link:hover,
.link:active {
  color: #1a7f73;
  border-bottom: 1px solid currentColor;
}

/**********************/
/*FOOTER SECTION/
/**********************/
.footer-section {
  background-color: #f1f8fe;
}

.footer-first-section {
  display: flex;
  padding: 64px 130px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid #44aaec;
  border-bottom: 1px solid #44aaec;
}

.footer-logo {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
}

.address-col {
  padding: 2.5rem 0;
}

.footer-info-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.site-info {
  line-height: 24px;
  letter-spacing: 0.24px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer-icon {
  width: 24px;
}

.footer-link:link,
.footer-link:visited {
  color: #3a3a3a;
  transition: all 0.3s;
}

.footer-subs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  max-width: 650px;
  flex-basis: 0;
}
.footer-subs .single {
  position: relative;
  z-index: 2;
}
.footer-subs h3 {
  font-size: 0.875rem;
  letter-spacing: 0.21px;
  text-align: left;
}
.footer-subs .cta-form {
  display: flex;
  text-align: center;
  max-width: 100%;
  flex-shrink: 0;
}
.footer-subs .cta-form #email-add {
  width: 279px;
  height: 53px;
  padding: 16px 32px 16px 8px;
  align-items: center;
  gap: 8px;
  background: #f1fcf9;
  border: 1px solid #23a999;
  border-radius: 8px 0 0 8px;
}
.footer-subs .cta-form .btn--form {
  flex-shrink: 0; /* Prevent button from shrinking */
  width: 120px;
  height: 53px;
  padding: 12px 16px;
  border: 1px solid #23a999;
  border-radius: 0 8px 8px 0;
  background: #23a999;
  color: white;
  cursor: pointer;
}

.footer-second-section {
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: #124168;
}
.footer-second-section span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: white;
}