@import "variables";

/**********************/
/*HEADER SECTION/
/**********************/

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 0px 130px;
}

.nav-items {
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.brand-logo {
  width: 42.348px;
  height: 42.348px;
  cursor: pointer;
}

.brand-name {
  color: $clr-primary-500;
}

.navlinks {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navlinks {
  a {
    font-family: $font-family;
    font-size: $font-size-600;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: normal;
    letter-spacing: 0.3px;
    color: $clr-neutral-900;
    padding: 0 8px;
    margin: 0 8px;

    &.active {
      color: $clr-primary-500;
      border-bottom: solid 2px;
      padding: 0;
    }
    &:hover {
      color: $clr-primary-500;
    }
  }
}

.outlined-btn {
  padding: 4px 16px;
  border: 2px solid $clr-secondary-500;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $clr-secondary-500;
    color: $clr-primary-50;
  }
}

.hero-section {
  height: 100vh;
  background-image: url("../assets/heroImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

.tagline {
  display: flex;
  flex-direction: row;
  width: 612px;
  height: 140px;
}

.primary-heading {
  color: $clr-white-shades;
  font-family: $font-family;
  font-size: $font-size-900;
  font-style: normal;
  font-weight: $font-weight-regular;
  line-height: normal;
  letter-spacing: 0.9px;
}
.primary-btn {
  margin-top: 54px;
  padding: 24px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: $clr-secondary-500;
  color: $clr-secondary-50;
  letter-spacing: 0.7px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $clr-secondary-700;
    color: $clr-white-shades;
  }
}

/**********************/
/*SERVICEs SECTION/
/**********************/

.services-section {
  padding: 9.6rem 0;
  margin: auto 0;
}

.service-text-box {
  align-content: center;
}

.service-title {
  font: {
    size: $fs-primary-heading;
    weight: $font-weight-regular;
  }
  letter-spacing: 0.54px;
  color: $clr-primary-900;
}

.service-description {
  font: {
    size: $fs-service-description;
    weight: $font-weight-regular;
  }
  letter-spacing: 0.36px;
  color: $clr-neutral-700;
}

.service-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img-box::before,
.service-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 8px;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.service-img-box::before,
.service-img-box::after {
  width: 100%;
  padding-bottom: 100%;
  border: 2px solid $clr-primary-500;
  z-index: -1;
}

.service-img-right::before,
.service-img-right::after {
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.service-img {
  width: 42%;
  //420/1000 *100
  border-radius: 8px;
}

.service-img img {
  border-radius: 8px;
}

/**********************/
/*INFORMATION SECTION/
/**********************/

.info-section {
  padding: 4rem 8rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 80%;

  h2 {
    font-size: $font-size-800;
    letter-spacing: 0.54px;
    color: $clr-primary-900;
    margin-bottom: 1rem;
  }
}

.info-title {
  text-align: left;
  margin-bottom: 4rem;
}

.info {
  background: $clr-primary-100;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top-left-radius: 0.5;
  border-top-right-radius: 0.5;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top-left-radius: 0.5;
  border-top-right-radius: 0.5;
}

.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: $clr-primary-700;
  color: $clr-white-shades;
  cursor: pointer;
  transition: $transition;
  letter-spacing: $letterSpacing;

  &:hover:not(.active) {
    background: $clr-primary-900;
  }

  &:nth-child(1) {
    border-top-left-radius: 8px;
  }
  &:nth-child(3) {
    border-top-right-radius: 8px;
  }
}

.info-content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2rem 1.5rem;
}

// hide items
.content {
  display: none;
}

.tab-btn.active {
  background: $clr-primary-500;
}
.content.active {
  display: block;
}

/*Table Consulatation*/
table {
  border-collapse: separate;
  width: 100%;
  margin: 0 auto 1em;
  padding: 2px;
  background: none;

  tbody {
    display: table-row-group;
    unicode-bidi: isolate;
    border-color: inherit;
    text-align: center;

    tr {
      border: 1px solid $clr-primary-500;
    }
  }
}

/**********************/
/*DENTIST SECTION/
/**********************/
.about-section {
  background-color: $clr-secondary-50;

  .dentist-img {
    background-image: url(/assets/dentist.png);
    background-size: cover;
    background-position: center;
  }
  .dentist-info {
    display: flex;
    width: 80%;
    padding: 80px 16px;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    align-self: stretch;
    line-height: 2.5;

    h2 {
      font-size: $fs-primary-heading;
      letter-spacing: 0.54px;
    }

    p {
      font-size: $fs-body;
      letter-spacing: 0.27px;
    }
  }
}

.link:link,
.link:visited {
  display: inline-block;
  color: $clr-secondary-500;
  text-decoration: none;

  padding-bottom: 2px;
  transition: all 0.3s;
  font-size: $font-size-700;
}

.link:hover,
.link:active {
  color: $clr-secondary-600;
  border-bottom: 1px solid currentColor;
}

/**********************/
/*FOOTER SECTION/
/**********************/
.footer-section {
  background-color: $clr-white-shades;
}

.footer-first-section {
  display: flex;
  padding: 64px 130px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid $clr-primary-500;
  border-bottom: 1px solid $clr-primary-500;
}
.footer-logo {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
}

.address-col {
  padding: 2.5rem 0;
}

.footer-info-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.site-info {
  line-height: 24px;
  letter-spacing: 0.24px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer-icon {
  width: 24px;
}

.footer-link:link,
.footer-link:visited {
  color: $clr-black-shades;
  transition: all 0.3s;
}

//cta form

.footer-subs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  max-width: 650px;
  flex-basis: 0;

  .single {
    position: relative;
    z-index: 2;
  }

  h3 {
    font-size: $font-size-300;
    letter-spacing: 0.21px;
    text-align: left;
  }

  .cta-form {
    display: flex;
    text-align: center;
    max-width: 100%;
    flex-shrink: 0;

    #email-add {
      width: 279px;
      height: 53px;
      padding: 16px 32px 16px 8px;
      align-items: center;
      gap: 8px;
      background: $clr-secondary-50;
      border: 1px solid $clr-secondary-500;
      border-radius: 8px 0 0 8px;
    }

    .btn--form {
      flex-shrink: 0; /* Prevent button from shrinking */
      width: 120px;
      height: 53px;
      padding: 12px 16px;
      border: 1px solid $clr-secondary-500;
      border-radius: 0 8px 8px 0;
      background: $clr-secondary-500;
      color: white;
      cursor: pointer;
    }
  }
}

.footer-second-section {
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: $clr-primary-900;

  span {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-400;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: white;
  }
}
