// Define the breakpoint mixin
@mixin bp($size) {
  $bp-sm: "(min-width: 600px)";         // Small screens and up
  $bp-m: "(max-width: 48em)";          // Medium screens (max-width: 768px)
  $bp-md: "(max-width: 59em)"; // Medium to large screens (min-width: 944px and max-width: 1200px)
  $bp-lg: "(min-width: 75em)";         // Large screens and up (min-width: 1200px)
  $bp-xl: "(min-width: 84em)";         // Extra large screens and up (min-width: 1344px)
  $bp-xxl: "(min-width: 1900px)";      // Extra extra large screens (min-width: 1900px)
  $bp-s: "(max-width: 599px)";         // Small screens (max-width: 599px)

  @if $size == xxl {
    @media #{$bp-xxl} {
      @content;
    }
  } @else if $size == xl {
    @media #{$bp-xl} {
      @content;
    }
  } @else if $size == lg {
    @media #{$bp-lg} {
      @content;
    }
  } @else if $size == mdlg {
    @media #{$bp-mdlg} {
      @content;
    }
  } @else if $size == md {
    @media #{$bp-md} {
      @content;
    }
  } @else if $size == md-max {
    @media #{$bp-md-max} {
      @content;
    }
  } @else if $size == m {
    @media #{$bp-m} {
      @content;
    }
  } @else if $size == s {
    @media #{$bp-s} {
      @content;
    }
  } @else {
    @media #{$bp-sm} {
      @content;
    }
  }
}
