/*----- Colors -----*/
$color-primary: #44aaec;
$color-secondary: #23a999;
$color-dark-accent: #0d5a97;
$color-gray-neutral1: #545454;
$color-gray-neutral2: #7b7b7b;
$color-dark-shades: #3a3a3a;
$color-light-shades: #f1f8fe;

$fw-regular: 400;
$fw-semiBold: 500;
$fw-bold: 600;


$fs